@import "./src/assets/styles/mixins.scss";
@import "./src/assets/styles/fonts.scss";

.card-number {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Credit Card";
  font-size: 1.35em;
  color: white;
  margin: 0;
}
