@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("/src/assets/fonts/credit-card.ttf");
@import "./src/assets/styles/mixins.scss";

.credit-card {
  width: 25em;
  height: 14.5em;
  border-radius: 0.9em;
  position: relative;
}
